.sidebar {
    background-color: white;

    position: fixed;
    z-index: 100;
    top: 55px;
    left: 0;
    bottom: 0;
    width: 70px;
    padding-top: 4px;
}

.sidebar-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    flex-direction: column;
    cursor: pointer; 
}

.sidebar-link:hover {
    background-color: rgb(235, 235, 235);
}

.sidebar-link img {
    height: 24px;
    margin-bottom: 5px;
}

.sidebar-link div {
    font-family: Roboto, Arial;
    font-size: 10px;
}